html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    height: 100vh;
    scroll-behavior: smooth;

    /*color scheme*/
    --dark-blue: #7b8f99;
    --light-blue: #446984;
    --dark-tan: #A5957B;
    --darker-tan: #685E4E;
    --light-tan: #DBD5C7;
    --white: #F4F8FF;

    /*
    --dark-blue: 
    --light-blue: #DCE0DF;
    --white: 
    --dark-tan: #5D5D5D;
    --light-tan: #BCAB91;
    */
    
}

body{
    display: flex;
    margin: 0 0 0 0;
    padding: 0;
    height: 100%;

    font-family: 'Roboto';
    background-color: var(--light-tan);
}


main{
    padding: 0px 2em 0px 2em;
    width: 100%;
    height: 100%;

    text-align: center;
    color: var(--white); 
}

h2{
    font-size: xx-large;
    margin: 0;
}

h2 .horz-line{
    width: 75%;
    height: .1em;
    margin-top: .2em;
    
    color: var(--white);
    background-color: var(--white);
    font-size: .3em;
}

p{
    margin: 0 0 1em 0;
}


.major{
    background-color: var(--dark-blue);
    margin: 1em 1em 1em 1em;
    padding: 1em 1em 1em 1em;

    border-radius: 25px;
}

.minor{
    padding: 1em 1em 0 1em;
    margin: 0 3em 0 3em;
    border-radius: 25px;
}

#about-container{
    display: flex;
    text-align: center;
}


#about-text h3{
    margin: 0 0 0 0;
}

#skillset{
    justify-self: flex-end;
}

#lists-container{
    display: flex;
    justify-content: center;
}

#lists-container ul{
    margin-top: .5em;
}

#lists-container li{
    text-align: left;
}

#cards-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0vw;
}

#cards-div h4{
    display: inline-block;
    margin: 1em 0 .5em 0;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topcard h4{
    margin: 0 0 .5em 0 !important;
}

.preview-img{
    width: 300px;
    height: 200px;
}

#big-socials-container a{
    text-decoration: none;
}

.big-social{
    fill: var(--white);
    width:  4em;
    height: 4em; 
}

.big-social:hover{
    fill: var(--darker-tan);
}



/* NAV BAR ************************************************/

nav{
    padding: 0;
    max-width: 22vw;
    top: 0px;
    height: 100%;
    position: fixed;
    display:flex;
    flex-direction: column;

    background-color: var(--dark-tan);
}

#nav-appear{
    display: none;
    position: fixed;
    fill: var(--white);
}

#nav-appear div{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: var(--darker-tan);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#nav-return{
    display: none;
}

#name-card{
    display: flex;
    border-radius: 25px;
    margin: .25em; 

    background-color: var(--darker-tan);
    color: var(--white);

}

#name-text{
    margin-left: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

#name-card h2{
    font-size: 2.25vw;
    margin: 0;
    padding: 1rem 1rem .1em 0rem;
    
}
#name-card p{
    font-size: 1.25vw;
    text-align: right;
    padding: 0 1em 0 1em;
    color: var(--dark-blue);
}
#name-card img{
    border-radius: 25%;
    margin: .5em .5em .5em .5em;
    
    max-width: 100%;
    max-height: auto;
    background-size: contain;
}


#nav-placeholder{
    padding: 0em;
    width: 22vw;
    top: 0px;
    height: 100%;
    
    background-color: var(--light-tan);
    flex-shrink: 0;
}

#nav-links a{
    text-decoration: none;
}

#nav-links a:hover{
    background-color: var(--darker-tan);
}

#nav-links .active-nav{
    background-color: var(--light-blue);
    
}

#nav-links h2{
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    text-align: right;
    color: var(--white);
    background-color: var(--dark-tan);
    font-size: 1.5em;
    
    border-radius: 10px;
    padding: .3em 1em .3em 0em;
    margin-top: 0;
}
#nav-links h2:hover{
    text-decoration: none;
}

.bar svg{
    fill: var(--white);
    margin-right: auto;
    padding-left: .5em;
}

#socials{
    display: flex;
    font-size: .75em;
    margin-top:  auto;
    padding-top: .5rem;

    width: 100%;

    justify-content: space-evenly;
    background-color: var(--darker-tan);
    

}

#socials a{
    text-decoration: none;
}


.nav-social{
    fill: var(--white);
    width:  4em;
    height: 4em; 
}

.nav-social:hover{
    fill: var(--dark-blue);
}

#contact-main{
    width: 100%;
    margin: 0em;
    padding: 0em;
}


/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/

@media all and (min-width: 1024px) and (max-width: 1280px) {
    nav{
        display: flex;
    }
    #nav-placeholder{
        display:none;
    }
    #nav-appear{
        display: inline;
        top: .5em;
        left: .5em;
    }
    #nav-appear div{
        display: flex;
    }
 }
 

@media all and (max-width: 1024px){
    .preview-img{
        width: 150px;
        height: 100px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    nav{
        display: flex;
        min-width: 50vw !important;
    }
    #nav-placeholder{
        display:none;
    }
    #nav-appear{
        display: inline;
        top: .25em;
        left: .25em;
    }
    #nav-appear div{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--darker-tan);
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    main{
        padding: 0 .25em;
    }
 }
 

@media all and (max-width: 768px) {
    nav{
        display: none;
        min-width: 75vw;
    }
    #nav-placeholder{
        display: none;
    }

    #nav-return{
        display: inline;
        position: fixed;
        right: 0;
        top: 0;
        min-width: 25vw;
        
        background-color: red;
    }

    #nav-appear{
        display: inline;
        position: fixed;
        fill: var(--white);

        top: .25em;
        left: .25em;
    }

    #nav-appear div{
        display: flex;
    }

    #name-card h2{
        font-size: 5vw;
    }

    #name-card p{
        font-size: 3vw;
    }
    body{
        margin: 0;
    }
    main{
        padding: 0em;
    }

    .major{
        background-color: var(--dark-blue);
    
        border-radius: 25px;
    }
    
    .minor{
        margin: 0em;
        padding-left: 0em;
        padding-right: 0em;
        border-radius: 25px;

        font-size: 3vw ;
    }
    #lists-container{
        display: flex;
        justify-content: space-evenly;
        padding-left: 1em;
    }
    #lists-container ul{
        padding: 0em;
    }

    #cards-main{
        overflow: scroll;
    }

    #projects-text{
        font-size: 3vw;
    }

    #cards-div{
        column-gap: 2vw;
    }

    
 }