@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500&family=Open+Sans:ital,wght@0,400;0,600;1,400&display=swap');

/*
    small and extra small and medium:
        sidebar becomes a top bar
        modal sidebar becomes a bottom bar
    

*/

html{
    scroll-behavior: smooth !important;
}

body{
    display: flex;
    align-items:flex-start;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

    --title: #787878;
    --text: #AAAAAA;
    --bar: #EFEFEF;
}

main{
    display: flex;
    flex-direction: column;

    width: 50em;
    padding-left:4vw;

    background-color: white;
    overflow-x: hidden;
}

hr{
    min-width: 100%;
    border: 1px solid var(--bar);

}

h1, h2, h3, h4{
    color: var(--title);
    font-family: 'Poppins', sans-serif;
}

p{
    color: var(--text);
    line-height: 1.6;
}

/*#region sidebar*/
#sidebar{
    display: flex;
    flex-direction: column;

    position: sticky;
    top: 0;
    min-width: 35vw;
    height:100vh;
    padding-right: 2em;


    background-color: slategray;
    text-align: right;
    align-items: flex-end;
}

#avatar_container>#avatar{
    max-width: 25%;
    height: auto;
    margin-top: 20vh;
    border-radius: 50%;

}

#sidebar>#heading{
    color: whitesmoke;
    font-size: 1.3em;
}

#sidebar>#links>a{
    color: whitesmoke;

    display: flex;
    flex-direction: column;
    font-size: 1.1em;
    
}

#sidebar>#socials{    
    display: flex;
    flex-direction: row;
    
    margin-top: auto;
    margin-bottom: 4em;
}

#sidebar>#socials>a{
    color: whitesmoke;
    margin-right: .5em;
}

/*#endregion*/

/*#region main  */
/*#region content*/
#about{
    margin-top: 17vh;
}

#about p {
    margin-left: 1em;
}
#skills{
    min-width: 100%;
}

#skills h1{
    margin-bottom: 8px;
}

#skills_list_container{
    min-width: 100%;
    display:flex;
    justify-content: space-evenly;
}

#skills h3{
    margin-top: .25em;
    margin-bottom: .5em;
}

.skill_col{
    margin-bottom: 1em;
}

.skill_col ul{
    color: var(--text);
    margin: 0 0 0 1em;
    padding: 0;
}

.row{
    display: flex;
}

#projects{
    display: flex;
    flex-direction: column;
}

#projects > h1{
    margin-bottom: 0px;
}

#projects > p{
    margin-top: 1.2em;
}

#events{
    display: flex;
    flex-direction: column;
}

#events > h1{
    margin-bottom: 0px;
}

#events > p{
    margin-top: 1.2em;
}
/*#endregion*/
/*#region CARD STUFF***/
.card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:center;
    text-align: center;
    min-width: 50%;
    max-width: 50%;
}

.card > a{
    text-decoration: none;
    color: inherit;
}



.card > h3{
    color: var(--title);
}

.card > h3:hover{
    color: var(--text);
}

.open_tt:hover{
    cursor: pointer;
}


.card h3{
    margin-top: .5em;
    margin-bottom: .5em;
}

.card_img{
    max-width: 98%;
    border-radius: 3%;
}

.card > p{
    display:flex;
    justify-content: center;
    margin-top: 0;
    font-size: 14px;
    flex-wrap: wrap;
    width:90%;
}
/*#endregion*/

/*#region modal*/


.modal{
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,.4);

}

.modal_content{
    background-color: #fefefe;
    margin: 3% auto;

    padding: 20px;
    border: 1px solid #888;
    

    width: 80%;
    height: 80%;

    display: flex;

    overflow-y: auto;
}

.modal_content a{
    color: var(--text);
}

.modal_content i{
    color: var(--title);
    text-decoration: none;
}

.modal_main{
    padding-left: 2%;
    padding-right: 2%;


    max-width: 80%;
    min-height:100%;

    box-sizing: border-box;
    border-right: 2px solid var(--bar);

}

.preview{
    max-width: 80%;
    border-radius: 10px;     
}

.twitter-timeline{
    width: 75% !important;
}

.close{
    position: fixed;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    z-index: 999;
}

.close:hover, .close:focus{
    
    color:black;
    text-decoration: none;
    cursor: pointer;
}

.modal_side{

    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
 
    top: 0;
    min-width: 20%;
    min-height: 100%;
    
}


.modal h3{
    font-size: 1.6em;
    margin-bottom: .3em;
}

.modal h4{
    font-size: 1.2em;
    margin-bottom: .3em;
}

.modal_list_container p{
    margin-top: 0px;
    margin-bottom: 0px;
}

.modal_opener{
    cursor: pointer;
}

.download_icons a:hover{
    color: var(--title);
}

/*#endregion*/

/*#endregion*/


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body{
        flex-direction: column;

    }
    main{
        overflow-x: visible;
        width: 100%;
        box-sizing: border-box;
        padding-left: 1em; 
        padding-right: 1em;
    }

    #sidebar{
        position: static;
        height: 100vh;
        width: 100%;
        padding-right: 1em;
        box-sizing: border-box;
    }

    #about{
        margin-top: 1.6vh;
    }

    .modal_content{
        display: block;
        overflow-y: scroll;
        
    }

    .modal_main{
        max-width: 100%;
        border: none;
    }

    .modal_side{
        flex-direction: row;
        justify-content: start;
        align-items: flex-start;
        position: static;
        top: auto;
        width: auto;
        min-height: auto;
        
        border-left: none;
    }
    
 }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    main{
        /* background-color: orange; */
    }  

}
 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    main{
        /* background-color: green; */
    }
}
 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    main{
        /* background-color: blue; */
    }
}
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    main{
        /* background-color: violet; */
    }
}