#about{
    display: flex;
    margin: 50vh 20vw 0 20vw;
    transform: translateY(-50%);
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#about-text{
    width: 70%;
    padding-right: 1rem;
}

#about-header{ 
    display: flex;
    align-items: baseline;
}

#about-title{
    font-size: 5vw;
    margin: 2.5rem 0 0 0;
}

#about-subtitle{
    font-size: 2vw;
    font-weight: 500;
    color: var(--accent-gold);
    margin: 0 0 0 1rem;
}

#about-description{
    margin-top: .5rem;
}

#about-socials{
    display: flex;
    justify-self: flex-end;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 30%;
}

#about-avatar-container{
    width: 15vw;
}

#about-avatar{
    width: 100%;
    height: auto;
    border-radius: 50%;
}

#about-icons{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: .5rem;
}

.about-icon{
    fill: var(--accent-blue);
    width: 3vw;
    height: 3vw;
    margin-bottom: .5rem;
}

.about-icon:hover{
    fill: var(--accent-gold);
    transition: .2s;
}