body{
    margin: 0;
    --main-black: #030718;
    --main-white: #FFF4D8;
    --accent-blue: #29426B;
    --accent-gold: #C7974F;

    background-color: var(--main-white);
    background-image: url("./Assets/background.jpg");

}

h1, h2, h3, h4{
    font-family: josefin-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    color: var(--accent-blue);
}


#main{
    margin: 0 20vw;
    font-family: playfair-display, serif;
    font-weight: 400;
    font-size: 1.4rem;
    font-style: normal;
    color: var(--main-black);
}